/* Variables */
:root {
  --bg-color: #e6e6e6;
  --container-bg: white;
  --primary-color: #1795b0;
  --divider-color: var(--bg-color);
  --text-color: #393939;
  --link-hover: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #393939;
    --container-bg: #262626;
    --primary-color: #1795b0;
    --divider-color: var(--bg-color);
    --text-color: #e6e6e6;
    --link-hover: #b8b8b8;
  }
}

@font-face {
  font-family: 'mono';
  src: url('../fonts/jetbrainsmono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mono';
  src: url('../fonts/jetbrainsmono-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mono';
  src: url('../fonts/jetbrainsmono-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'mono', 'Roboto', sans-serif;
}

html {
  font-size: 15px;
  color: var(--text-color);
}

body {
  background-color: var(--bg-color) !important;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

li {
  list-style: '>';
  padding-left: 10px;
}

ul>li>p {
  margin-top: 5px;
}

.container {
  padding: 30px 30px 50px;
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto 50px;
  border-top: 5px solid var(--primary-color);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: var(--container-bg);
}

@media (min-width: 992px) {
  .container {
    width: 70% !important;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 60px auto;
  }
}

.container a {
  color: var(--primary-color);
  text-decoration: none;
}

.container a:hover,
.container a:focus {
  color: var(--link-hover);
  text-decoration: none;
}

.container a:hover {
  cursor: pointer;
}

/* Accordion Styles */
.toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.toggle>h3 {
  margin: 0;
}

.toggle>span.indicator {
  font-size: 2rem;
}

.toggle.inactive span.indicator:before {
  content: '+'
}

.toggle.active span.indicator:before {
  content: '-'
}

.hidden {
  display: none;
}

span.excerpt {
  font-style: italic;
}
