/* Variables */
:root {
    --bg-color: #E6E6E6;
    --primary-color: #ff5722;
    --primary-color-dark: #e64a19;
    --primary-color-light: #ffccbc;
    --icons-color: #FFFFFF;
    --accent-color: #009688;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: var(--bg-color);
}

/* Layout & Typography */
body {
    background-color: var(--bg-color) !important;
}

p {
    font-size: 16px;
}

@media(min-width: 992px) {
    .container {
        width: 60% !important;
    }
}

@media(min-width: 768px) {
    .container {
        margin: 100px auto;
    }
}

strong {
    color: var(--primary-color);
}

/* Cards */
.mdl-card {
    width: 100%;
    border-top: 5px solid var(--primary-color);
}

.mdl-card__content {
    padding: 30px !important;
}

.mdl-card__content h1 {
    margin: 0;
}

/* Contacts */
.contacts {
    display: flex;
    justify-content: space-around;
}

.container a {
    transition: 0.2s;
    text-decoration: none;
    color: inherit;
}

.container a:hover, .container a:focus {
    transition: 0.2s;
    color: var(--primary-color);
    text-decoration: none;
}

.container a:hover {
    margin-top: -5px;
    cursor: pointer;
}

/* Projects */
.projects {
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.project-sofiamacedo {
    background: url(../assets/images/sofiamacedo.svg) center / contain no-repeat;
}

.project-sofiamacedo__bg {
    width: 100%;
    height: 20px;
    transition: 0.6s;
    align-self: flex-end;
    z-index: -1;
}

.project-sofiamacedo__bg1 {
    background-color: #76e3b9;
}
.project-sofiamacedo__bg2 {
    background-color: #ffb996;
}
.project-sofiamacedo__bg3 {
    background-color: #98deeb;
}
.project-sofiamacedo__bg4 {
    background-color: #ffe25e;
}

.project-budgetify {
    background: url(../assets/images/budgetify.jpg) center / cover;
}

.project-js30 {
    background: url(../assets/images/js30.jpg) center / cover;
}

.project-taadas {
    background: url(../assets/images/taadas.jpg) center / cover;
}

.project-svec {
    background: url(../assets/images/svec.jpg) center / cover;
}

.project__preview {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    transition: 0.6s;
    transform-style: flat;
}

.projects .project {
    padding: 0;
    height: 200px;
    color: var(--icons-color);
    position: relative;
    transition: all 0.6s;
}

.project__preview:hover {
    background-color: transparent;
    color: transparent;
}

.project__preview:hover a {
    color: var(--primary-text);
}

.project__preview:hover .project__footer a:hover {
    color: var(--primary-color);
}

.project .project__preview a:focus {
    color: transparent;
}

.project .project__preview:hover a:focus {
    color: var(--primary-color);
}


.project .project-title {
    position: absolute;
    margin: auto;
    text-align: center;
}

.project__footer {
    position: absolute;
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.project__footer a {
    color: transparent;
}

.project__info {
    position: absolute;
    height: 200px;
    width: 100%;
    color: black;
    right: 0;
    top: 0;
    transition: 0.6s;
    transform: translateX(10000px);
}

.project__info .project__info-content {
    padding: 30px;
}

.project__info .project__info-content a {
    text-decoration: underline;
}

.project__info .project__info-content a:focus {
    color: var(--primary-color);
}

.project__info .project__info-close {
    float: right;
    margin: 5px;
}

.project__info .project__info-close:hover {
    margin: 5px;
}

.project__preview:hover .btn-nf {
    border: 1px solid var(--primary-text);
    background-color: var(--icons-color);
}

a.btn-nf {
    padding: 10px;
    border-radius: 2px;
    background-color: transparent;
}

.project__preview:hover a.btn-nf:hover {
    border-color: var(--primary-color);
    margin-bottom: 5px;
    background-color: var(--icons-color);
}

@media(max-width: 425px) {
    a.btn-nf span {
        display: none;
    }
}